version: '3.1'

services:
  db:
    build:
      context: ./           # Path to the directory containing the Dockerfile
      dockerfile: Dockerfile # Name of the Dockerfile
    volumes:
      - ./data:/var/lib/mysql
    ports:
      - 33026:3306