[mysqld]
server-id = 1

# Uncomment the following line only if you need to recover InnoDB tables
#innodb_force_recovery = 1

# Enable Binary Logging
log_bin = /var/log/mysql/mysql-bin.log

# Replication Settings
binlog_format = ROW

# Set SQL Mode (remove ONLY_FULL_GROUP_BY if needed)
sql_mode = "STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION"